#map-table {
  background-image: url('../img/mapaDungeon.png');
  background-size: cover;
  width: 347px;
  height: 324px;
  max-width: 347px;
  max-height: 324px;
}

.tile-0{
  min-width: 16px;
  max-height: 16px;
  height: 16px;
  border: 1px solid yellow;
}
.tile-1{
  min-width: 16px;
  max-height: 16px;
  height: 16px;
  border: 1px solid black;
}
.tile-2 {
  min-width: 16px;
  max-height: 16px;
  height: 16px;
  border: 1px solid red;
}

.tile-3 {
  min-width: 16px;
  max-height: 16px;
  height: 16px;
  border: 1px solid blue;
}

.tile-4{
  min-width: 16px;
  max-height: 16px;
  height: 16px;
  border: 1px solid pink;
}

.tile-5{
  min-width: 16px;
  max-height: 16px;
  height: 16px;
  border: 1px solid brown;
}

.tile-6{
  min-width: 16px;
  max-height: 16px;
  height: 16px;
  border: 1px solid red;
}

#character {
  max-height: 16px;
}

* {
  padding: 0;
  margin: 0;
  image-rendering: pixelated;
}

.button-show{
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  background-color: blue;
  color: white;
  padding: 10px;
  width: 150px;
  border: 0;
}

.button-hidden {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interface {
  margin-left: 20px;
  margin-right: 20px;

}

body, #tela {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tela_over {
  display: grid;
  justify-content: center;
  align-items: center;
}

.game_over {
  width: 200px;
  height: 200px;
}